
<div class="post__card lvl1">
    <div class="card-header">
        <div class="left">
            <img src="/media/{{post.user.image}}" alt="photo">
            <div class="author__name">{{post.user.username}}</div>
        </div>
        <div class="right">
            <a href="#" class="btn btn-like">
                <img src="/static/icons/like.svg" alt="like">
            </a>
            <div class="like-counter">5</div>
            <a href="#" class="btn btn-dislike">
                <img src="/static/icons/like.svg" alt="dislike">
            </a>
        </div>
    </div>
    <div class="post__body">
        <div>
            <p class="card-text">{{ post.text }}</p>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            {% if user == post.user %}
            <a href="#" class="btn btn-delete">
                Delete
            </a>
            {% else %}
            <a href="#" class="btn btn-delete">
                Reply
            </a>
            {% endif %}
        </div>
        <div class="card-date">{{ post.created_at }}</div>
    </div>
</div>
